/*global*/
ul > li#cast-member,
ul > li#genre {
	display: inline-block;
	margin-right: 10px;
}

h6 { color: #ee6e73; font-weight: bold; }

hr { opacity: 0.3; }

input[type=text] { height: 2em; font-size: 4em;}
.input-field label { font-weight: bold;}

/*movies-details page*/

.movie-detail-title { margin: 0; }
.movie-detail-card { padding: 25px; }
.rating{ vertical-align: middle }
.trailer-btn { margin-right: 10px; }

/*popular movies page*/
.popular-movies-col { margin-bottom: 17px; }

/*Playlist page*/
.icon-vertical-align {
	vertical-align: middle;
	color: #f4ff81 ;
	margin-left: 10px;
}

.playlist-col { text-align: center; margin-bottom: 30px; }
.playlist-btn { margin: 6px; }

.modal .modal-content { padding: 0; background-color: black;}
.modal-open .modal{ overflow-y: hidden; background-color: black; width: 100%;}
.modal-dialog {width: 640px;}

/*.modal-dialog{ margin: 0;}*/

/*index page*/
span.badge.new:after { 	display: none; }
.collection a.collection-item { font-size: 85%; }
.collection .collection-item { padding: 5px 20px;}